{
  "endOfLine": "auto",
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": true,
  "overrides": [
    {
      "files": ["*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
